<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Demo layout</title>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="head">
                    <nav></nav>
                </div>
                <div class="head-link"></div>
            </header>
            <main>
                <div class="wrapper">
                    <div class="left"></div>
                    <div class="content"></div>
                    <div class="right"></div>
                </div>
            </main>
            <footer>
                <div class="footer"></div>
            </footer>
        </div>
    </body>
</html>
