$boxSizing: border-box;
$overflowAuto: auto;
$positionRelative:relative;
$height250: 250px;
$width: 8.33%;
$marginNone: 0;
$borderRight: 1px solid grey;
$height100Percent: 100%;
$floatLeft: left;
$bgGreen: #84c754;
$bgWhite: #f1f1f1;